@import '~bootstrap/scss/bootstrap.scss';
@import './animation.css';
@import '../components/layout.css';

body {
    font-family: 'Poppins', sans-serif;
}

section {
    min-height: 80vh;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 18px;
        padding-left: 0.8em;
        padding-right: 0.8em;
        color: black;
    }
}