@import "~bootstrap/scss/bootstrap.scss";
@import "./animation.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,900&display=swap');
@import 'queries';
@import 'colors';

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

h6 {font-size: 1.2em;}

small, .text_small {font-size: 0.75em;}

section {
  min-height: 80vh;
}


.section-content {
    
  h3 {
    font-weight: bold;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    color: grey;
  }
  z-index: 3;
  position: relative;
  h3, h4, h6 {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
.main-color {
  color: $main-color !important;
}

.main-color-bg {
  background-color: $main-color !important;
}

.sub-color {
  color: $sub-color !important;
}

.sub-color-bg {
  background-color: $sub-color !important;
}
@include respond-below(sm) {

  .navbar {
    position: fixed;
    z-index: 1;
  }
  .navbar-brand span {
    width: 80px;
    height: 80px;
    background: white;
    display: inline-block;
    border-radius: 60px;
    padding: 1px;
    text-align: center;
    overflow: hidden;
  }
  .navbar-brand img {
    height: 60px;
  }  
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    color: black;
  }
  .section-content {
    h3 {
      font-size: 2.8rem;
    }
    h3, h4, h6 {
      width: 90%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
    }
  }
}

@include respond-below(sm) {
}
