@import '../../styles/queries';

#more-section {
  .side-text{ 
    position: absolute;
    width: 450px;
    top: 0;
    font-size: 34px;
    &:nth-child(1) {}
    &:nth-child(2) {
      right: 0;
      bottom: 0;
      top: unset;
    }

  }
}

#story-section {
  $sectionHeight: 600px;
  .section-content {
    height: $sectionHeight;
  }
  .black-bg {
    background-color: black;
    height: $sectionHeight;
  }  
  .story-box {
    position: relative; 
    left: 30px;
    height: $sectionHeight - 100px;
    margin: (($sectionHeight * -1) + 50px) auto 50px auto;
    width: 95%;
    color: #fff;
    overflow: hidden;
    box-shadow: 1px 3px 20px 0px #000000b8;
    img {
      width: 100%;
    }
    .img-box {
      padding-left: 0;
      width: 50%;
      display: block;
      float: left;
    }
    .txt-box {
      background-color: #555AE4;
      padding: 2.5em;
      width: 50%;
      height: 100%;
      display: inline-block;
      h3 {
        font-weight: bold;
        font-size: 72px;
        line-height: 75px;
        color: #000000;
        margin-top: 0;
      }
    }
  }  
}

#mid-section {
  .d-md-img {
    display: block;
  }
  .d-xs-img {
    display: none;
  }

  .block-quote {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    width: 80%;
    margin: 4em auto;
    color: #000000;
  } 
}

@include respond-below(sm) {
  #more-section {
    .img-c {
      margin: auto 0;
      height: 240px;
    }
    img {
      width: 200px;
    }
    .side-text{
      font-size: 1.3em;
      position: relative;
      width: 100%;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 0px;
      }
    }
  }
  #mid-section {
    .d-md-img {
      display: none;
    }
    .d-xs-img {
      display: block;
    }
    .block-quote { 
      font-size: 1.2rem;
      line-height: 24px;
      text-align: left;
    }
  }
  #story-section {
    .section-content {
      height: auto;
    }
    .story-box {
      left: 0;
      height: auto;
      .img-box {
        float: none;
        width: 100%;
      }
      .txt-box {
        width: 100%;
        h3 {
          margin-top: 0.2em;
        }
      }
    }
  }
}