$card-width: 434px;

section {
  position: relative;
}

.card-box {
  width: $card-width * 2 - 100;
  margin-left: auto;
  margin-right: auto;
  top: -100px;
  position: relative;
}

.card {
  width: $card-width;
  height: 484px;
  img {
    width: $card-width;
    height: 484px;
  }
  position: relative;
  top: 0;
  border: none;
}

.card-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.card-body {
  padding: 1.9rem;
}

.card-text {
  font-size: 2em;
}

grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "card-box card-box . ." "card-box card-box . ." "card-box card-box . ." "card-box card-box . .";
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "card1 ." "card1 card2" "card3 card2" "card3 .";
  grid-area: card-box;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
  right: 50px;
}

.card3 {
  grid-area: card3;
  .card-text {
    margin-top: 40px;
  }
}