@import '../../styles/queries';


#testimonial {
  $content-box-width: 600px;

  .content-box {
    background: #4850FF;
    color: #fff;
    margin: auto 0 auto 140px;
    position: relative;
    width: $content-box-width;
    padding: 3em 5em 3em 7em;
    min-height: 281px;
    background: linear-gradient(0deg, rgba(72, 80, 255, 0.7), rgba(72, 80, 255, 0.8)), linear-gradient(180deg, rgba(146, 151, 255, 0.67) 0%, rgba(255, 255, 255, 0.2) 90%), url('/apartment-architecture-artist-447592.jpg');
    background-position: center,center, center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    figure {
      position: absolute;
    }
    .quote {
      right: -100px
    }
    .personface {
      left: -50px;
      img {
        width:155px;
      }
    }
    .rating-box img {
      width: 30px;
    }
    &::after {
      content: "";
      width: 90%;
      position: relative;
      bottom: 150px;
      background-color: #979BEE;
    }
  }
  .content-box:nth-of-type(2) {
    background: lighten(rgba(72, 80, 255, 0.9), 10%);
    width: $content-box-width - 30px;
    padding: 0 15px;
    left: 0;
    z-index: -1;
    min-height: 20px;
  }
  .content-box:nth-of-type(3) {
    background: lighten(rgba(72, 80, 255, 0.9), 20%);
    width: $content-box-width - 60px;
    min-height: 20px;
    padding: 0 30px;
    left: 0;
    z-index: -2;
  }
  p.lead strong {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
  }
  .desk-photo {
    width: 100%;
    display: block;
    min-height: 600px;
    background-image: url('../../images/rect2.jpg');
    background-size: cover;
  }  
}

@include respond-below(sm) {
  #testimonial {

    .content-box {
      width: 100%;
      padding: 6em 1em 1em 1em;
      .quote {
        right: -40px;
        bottom: 0;
      }
      $personface: 120px;
      .personface {
        max-width: 150px;
        width: $personface;
        left: 50%;
        margin-left: ($personface / 2) * -1;
        top: -35px; 
        img {
          width: $personface;
        }
      }

      &:nth-of-type(2) {
        width: 90%;
      }

      &:nth-of-type(3) {
        width: 80%;
      }
    }

  }

}