@import '../styles/queries';
@import '../styles/colors';

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;


.navbar {
  height: 80px;
  margin: 0;
  padding: 0;
}
.navbar-brand img{
  height: 70px;
}

.navbar-light .navbar-toggler {
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 42px;
  height: 42px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: blue;
}
.nav-item .nav-link.active {
  margin: 0 2px;
  background-color: white;
  border-radius: 20px;
  border: solid 2px blue;
}

.section.section-footer {
  padding-top: 160px;
  background-color: $main-color;
  color: white;
}

#toggle:checked {
  & ~ .fly-menu-content {
    padding-top: 30px;

    &:before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }  
}

.fly-menu-content {
  position: relative;
  text-align: center;
  transition: $transition-duration;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    transition: $transition-duration;
  }
}

@include respond-below(sm) {

  main {
    overflow-x: hidden;
  }
  .navbar {
    height: 100px;
    width: 90vw;
    margin: 0;
    padding: 0;
  }
}