@import '../styles/queries';
@import '../styles/colors';


.navbar {
  height: 80px;
  margin: 0;
  padding: 0;
}
.navbar-brand img{
  height: 70px;
}

.navbar-light .navbar-toggler {
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 42px;
  height: 42px;
}

.section.section-footer {
  padding-top: 160px;
  background-color: $main-color;
  color: white;
}

@include respond-below(sm) {
  .navbar {
    height: 100px;
    width: 90vw;
    margin: 0;
    padding: 0;
  }
}