.carousel {
  background: linear-gradient(177deg, rgba(28, 35, 218, 0.68) 38.9%, rgba(151, 155, 238, 0.756518) 72.91%, rgba(255, 255, 255, 0) 100%), url(../../images/bedroom-door-entrance-271639.jpg), rgba(28, 36, 218, 0.69);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  width: 100vw;
  height: 676px;
  background-size: cover, cover;
  color: #e8e8e8;
}

aside {
  width: 50%;
  position: relative;
  margin-top: 150px;
}

aside h1 {
  font-weight: bold;
  font-size: 66px;
  line-height: 112.5%;
}
.icon-figure {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px)  {
  aside {
    width: 90vw;
    margin-top: 15%;
  }
  aside h1 {
    font-size: 50px;
  }
  .carousel {
    background-position: center, top right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon-figure {
    display: block;
  }
}