@import '../../styles/queries';


#coded-slider {

  aside {
    width: 50%;
    position: relative;
    margin-top: 80px;
  }
  
  aside h2 {
    font-weight: bold;
    line-height: 112.5%;
  }
  
  aside p {
    font-size: 1.3em;
  }
  .icon-figure {
    display: none;
  }
  .scroll-link {
    position: absolute;
    bottom: 50%;
    left: 95%;
    transform: translateX(-50%);
    z-index: 6;
  }
  .mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
  }
  .scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
  }    
  .kenburns-bottom-left {
    -webkit-animation: kenburns-bottom-left 50s ease-out both;
            animation: kenburns-bottom-left 50s ease-out both;
            animation-iteration-count: infinite;
  }

}
@include respond-below(sm) {

  #coded-slider {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);


    aside {
      width: 77vw;
      text-align: center;
      margin: 50% auto;
    }
    aside h1 {
      font-size: 32px;
    }

    aside p {
      font-size: 1.2rem;
    }

    .d-flex {
      justify-content: center;
      text-align: center;
    }
    .icon-figure {
      display: block;
      top: 42px;
      position: relative;
    }
    .scroll-link {
      position: absolute;
      bottom: 65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes scroll {
  0%, 20% {
  transform: translateY(0) scaleY(1);
  }
  10% {
  opacity: 1;
  }
  100% {
  transform: translateY(36px) scaleY(2);
  opacity: 0.01;
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}